<footer class="footer">
  <!-- <div class="container">
    <div class="row mt20 small">
      {% if site.copyright.name %}
      <div class="col-md-4"> <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a></div>
      {% endif %}
    </div>
    </div> -->



  <div class="container">
    <div class="text-center center-block">
      <a href="{{site.fb-page-url}}"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
      <a href="{{site.insta-page-url}}"><i id="social-ig" class="fa fa-instagram fa-2x social"></i></a>
      <a href="{{site.baseurl}}/contact/"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
    </div>
  </div>


</footer>